body{
	margin: 0;
	padding: 0;
	background-color: #212456;
	
}
.barra-top{
	background-color: #ddd;
}
.nav-item:hover{
	border: 1px solid #212456;
	border-radius: 5px;
	text-decoration: none;
	color: #212456;
}
.navbar-brand{
	border: 2px solid #212456;
	border-radius: 5px;
	background-color: #212456;
}

.login{
	border: 1px solid #212456;
	border-radius: 5px;
	margin-left: 10px;
	color: #212456;
}
.login:hover{
	border: 1px solid #212aaa;
	background-color: #212456;
	color: #fff;
}
.enviar{
	border: 1px solid #212456;
	color:#212456;
}
.enviar:hover{
	background-color: #212456;
	color: #FFF;
}